.prd-man-wrapper{
    margin-top: 64px;
    width: 100%;

    .prd-man-title{
        text-align: center;
    }

    .prd-man-btn-wrapper{
        display: flex;
        justify-content: center;

        .prd-man-btn{
    
        }
    }
}