@import '../../globalStyle/mixin';

.nav-wrapper{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 40px !important;

    .nav-right{
        flex: 1;
        justify-content: flex-end;

        @include tablet{
            flex: none;
            width: 100%;
        }
        
        @include mobile{
            flex: none;
            width: 100%;
        }

        .navbar-nav{
            margin: 0 !important;
        }

        .nav-item{
            margin: 0 10px;
            position: relative;

            .quantity{
                position: absolute;
                background-color: red;
                color: #fff;
                border-radius: 10px;
                padding: 0 2px;
                font-size: 10px;
                right: -6px;
                top: -5px;
                width: 15px;
                text-align: center;
            }
        }
    }
}