// .nav-wrapper{
//     display: flex;
//     justify-content: space-around; 
//     position: fixed;
//     width: 100%;
//     padding: 20px;
//     top: 0;

//     .nav-block{
//         .nav-item{
//             margin: 5px;
//         }
//     }
// }

.nav-wrapper{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 40px !important;

    .nav-right{
        display: flex;
        justify-content: flex-end;

        .navbar-nav{
            margin: 0 !important;
        }

        .nav-item{
            margin: 0 10px;
        }
    }
}