@import '../../globalStyle/mixin';

.nav-wrapper{
    position: fixed;
    top: 0;
    width: 100%;
    padding: 10px 40px !important;

    .nav-right{
        flex: 1;
        justify-content: flex-end;

        @include tablet{
            flex: none;
            width: 100%;
        }
        
        @include mobile{
            flex: none;
            width: 100%;
        }

        .navbar-nav{
            margin: 0 !important;
        }

        .nav-item{
            margin: 0 10px;
        }
    }
}